@model ProyectoInmobiliaria.Models.Propietario

@{
    ViewData["Title"] = "Agregar Propietario";
}

<h1>Agregar Propietario</h1>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label>DNI</label>
        <input class="form-control" asp-for="DNI" />
    </div>
    <div class="form-group">
        <label>Nombre</label>
        <input class="form-control" asp-for="Nombre" />
    </div>
    <div class="form-group">
        <label>Apellido</label>
        <input class="form-control" asp-for="Apellido" />
    </div>
    <div class="form-group">
        <label>Teléfono</label>
        <input class="form-control" asp-for="Telefono" />
    </div>
    <div class="form-group">
        <label>Email</label>
        <input class="form-control" asp-for="Email" />
    </div>
    <div class="form-group">
        <label>Dirección</label>
        <input class="form-control" asp-for="Direccion" />
    </div>
    <br />
    <button type="submit" class="btn btn-success">Guardar</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>
